<div class="card">
    <div class="card-body container">
        <div class="row">
            <div class="col-9">
                <h5 class="card-title">{{ country.name }}</h5>
                <p class="card-text">
                    {{ country.capital }}, <span class="text-muted">{{ country.region }}</span>
                </p>
            </div>
            <div class="col-3 text-center">
                <h6 class="text-muted">Population</h6>
                <p class="display-5">
                    {{ country.population }}
                </p>
            </div>
        </div>
    </div>
</div>
